body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    font-family: 'Sacramento', cursive;
    margin: auto;
}

/*CLASS SELECTORS*/

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
    size: auto;
}
.middle-container{

}
.bottom-container{

}
.top-cloud{
    position: absolute;
    top: 50px;
    right: 300px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.mountain-img{

}


